<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <disabledPackageSources>
    <add key="nuget.org" value="true" />
  </disabledPackageSources>
  <packageSources>
    <add key="3rdparty" value="http://nuget.photochannel.net/api/v2/" />
    <add key="official" value="http://nuget.photochannel.net/api/v2/" />
    <add key="teams" value="http://nuget-pre.photochannel.net/api/v2/" />
    <add key="local" value="C:\Temp\LocalRepo" />
    <add key="microsoft" value="https://www.nuget.org/api/v2/curated-feeds/microsoftdotnet/" />
    <add key="nuget.org" value="" />
  </packageSources>
</configuration>