
@model TimePilot.Models.ProjectViewModel

@{

    ViewBag.Title = "Home Page - Time Pilot";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<!DOCTYPE html>
<html>

<head>

    <script language="javascript">

            function handleSelect(myForm) {

                var selIndex = myForm.Projects.selectedIndex;
                alert(selIndex);

            }

    </script>

    <title>Time Pilot</title>
    <meta charset="utf-8" />
    <style>
        body {
            background-color: aqua;
        }
    </style>
    <link href="~/Content/themes/default/bootstrap.css" rel="stylesheet">
</head>

<body>

    <h1>Time Pilot</h1>
    <p>Resize this!</p>

    <div>
        @using (Html.BeginForm("Index", "Home", FormMethod.Post))
        {
            @Html.DropDownList("ddlProjects", (IEnumerable<SelectListItem>)ViewBag.ListItems, new { @onchange = "this.form.submit();", size = "30" })
        }

        <h1>@ViewData["myProject"]</h1>

    </div>
    <input type="button" value="Stories Page" class="btn-danger" />
</body>


</html>


