html{
    position: relative;
    min-width: 750px;
    min-height: 100%;
    overflow-x: hidden;
}

body{
    background-color: #cbebed;
    font-family: 'Century Gothic';
    font-size: 16px;
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
}

p{
    margin: 0px;
}

h1{
    font-size: 50px;
    transform: scale(1);
    transition: transform .5s;
    margin: 0px;
}

h2{
    margin: 0px;
    margin-bottom: 20px;
}

select{
    border:none;
}

select:focus{
    outline:none;
}

select:hover{
    border:none;
}

select.projectList option {
    color: #333;
}

span{
    text-align:center;
}

label{
    font-weight:100;
}

h1:hover{
    transform: scale(1.02);
    cursor:pointer;
}

.activebread{
    font-weight:700;
    font-size:13px;
    color: #344d4f;
    animation: ease-out;
    transition: 0.7s;
}

.activebread:hover{
    text-decoration:none;
    cursor:pointer;
    color: #0f1616;
    animation:ease-in;
    transition:0.7s;
}

.deactivebread {
    font-size:13px;
    color: #484949;
}

.deactivebread:hover{
    text-decoration:none;
    cursor:default;
}

.pre-activebread{   
    font-size:13px;
}

.pre-activebread:hover{
    cursor:pointer;
}
        
.button{
    background: #94d0d3;
    font-family: 'Century Gothic';
    font-size: 18px; 
    border-radius: 5px;
    padding: 10px;  
    outline:none;
    align-self:flex-end;
    margin: 10px 0;
    border: #aaaaaa 1px;
    animation:ease-out;
    transition:0.7s;
}

.button:hover{
    background: #7ebbbf;    
    cursor:pointer;
    animation:ease-in;
    transition:0.7s;
}

.projectList{
    font-family: 'Century Gothic';
    font-size: 16px;     
    background:#e2fdff;
    float:left;
    border-color: #c0cfd1;  
    border-radius:10px;
    outline:none;   
    width:100%;
}

.pre-project-container{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding: 35px;
}

.project-controls{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width:580px;
    margin-right: 25px;
}

.controls-label{
    margin-left: 15px;
    margin-right: 5px;
}

.projectList option:nth-child(even){
    background: #c0d9db;
}

.projectList option:hover{
    animation: ease-in;
    transition: 0.4s;
    background: #5cd2db;
    cursor: pointer;
}
    
.projectList::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 3px #484949;
    border-radius:4px;
}

.projectList::-webkit-scrollbar{
    width: 10px;
}

.projectList::-webkit-scrollbar-thumb{ 
    -webkit-box-shadow: inset 0 0 3px #484949;
    background-color:#696d6d;
    border-radius:4px;
}

.flex-container-header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(#7ebbbf,#85ced3);
    box-shadow: 1px 2px 15px rgba(0,0,0,.5);
    border-radius: 10px;
    padding: 10px 25px;
    width: 100%;
    box-sizing:border-box
}

.project-container{
    padding: 0px 35px;
    box-sizing:border-box;
    margin-bottom: 45px;
}        

.project-selector{
    background-color: black;
}

.flex-container-footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(#7ebbbf,#85ced3);
    padding: 0px 25px;
    width: 100%;
    bottom: 0;
    position: absolute;
    box-sizing:border-box;
}

.push, .flex-container-footer{
    height: 55px;
}

#logo{
    font-size: 50px;
    font-weight: 700;
    margin: 0px;
    text-decoration: none;
    color: black;
    transition: transform .5s;
}

#logo:hover{
    transform: scale(1.1);
    cursor:pointer;
}

.footer{
    justify-content: center;
    align-items: center;
}
