html body {
    top: 0px;
    padding: 0px;
    margin: 0px;
    min-height: 100%;
    font-family: 'Roboto', sans-serif;
    overflow-y: scroll;
}

.logo-link:hover {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

h3:hover, h2:hover {
    cursor: default;
}

h3 {
    margin: 10px 0px;
}

a:focus {
    border: none;
    outline: none;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

a:hover {
    cursor: pointer;
}

.breadcrumb {
    margin: 0px !important;
    background: none !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    text-align: right;
}

hr {
    width: 75%;
    margin: 20px auto 5px auto;
}

.navbar-default {
    border: none;
    margin-bottom: 40px;
    box-shadow: 0 2px 1px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    padding: 13px 0px;
}

.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none !important;
}

.nav-control-panel {
    display: flex;
    justify-content: space-between;
    height: 45px;
    margin-top: 25px;
    margin-bottom: 20px;
}

.nav-btn {
    display: flex;
    align-items: baseline;
    padding: 0px 16px;
}

.centered {
    margin: auto;
    float: none;
    text-align: center;
}

.row-vcentered {
    display: flex;
    align-items: center;
}

.row-hcentered {
    display: flex;
    justify-content: center;
}

.center-block {
    float: none;
    text-align: center;
}

.logo {
    width: 50px;
}

.logo-link {
    text-decoration: none;
    color: black;
    height: 50px;
    min-width: 52px;
}

.logo-link:focus {
    text-decoration: none;
    color: black;
}

.logo-text {
    display: inline;
    font-family: 'Ubunutu', sans-serif;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: -1.5px;
    /*text-transform: uppercase;*/
    color: #CC0000 !important;
    vertical-align: middle;
    margin: 16px 0px 0px -3px;
}

.crumbs {
    text-align: right;
}

.breadcrumb>.active{
    font-weight: 700;
    color: black;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    line-height: 40px;
}

.pull-right {
    text-align: right;
}

#loading {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    min-height: 100%;
    background: rgba(103, 103, 103, 0.51);
}

#loading_anim {
    /*003457*/
    /*#1A91A1*/
    /*border: 16px solid #f3f3f3; /* Light grey */
    border-top: 20px solid #003457;
    border-radius: 50%;
    background: #1A91A1;
    width: 280px;
    height: 280px;
    animation: 1.2s cubic-bezier(0.57, 0.23, 0.39, 0.82) infinite spin;
    position: absolute;
    left: calc(50% - 140px);
    top: calc(50% - 140px);
    z-index: 1010;
    opacity: 0.7;
}

#spinner-plane {
    animation: 2.4s cubic-bezier(0.43, 0.77, 0.61, 0.28) infinite spin;
}

.trash-select-all:hover {
    cursor: pointer;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
