    html body{
    top: 0px;
    padding: 0px;
    margin: 0px;
    min-height: 100%;
    font-family: 'Roboto', sans-serif;
    overflow-y:scroll;
    }
    .logo-link:hover{
    text-decoration: none;
    color: black;
    cursor: pointer;
    }
    h3:hover, h2:hover{
    cursor:default;
    }
    a:focus{
    border:none;
    outline:none;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    }
    a:hover{
        cursor:pointer;
    }
    .breadcrumb{
    margin: 0px !important;
    background: none !important;
    padding-left:0px !important;
    padding-right: 0px !important;
    }
    hr{
    width: 75%;
    margin: 20px auto 5px auto;
    
    }
    .navbar-default{
    border: none;
    margin-bottom: 40px;
    box-shadow: 0 2px 1px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    padding: 13px 0px;
    }
    .btn:focus, .btn:active{
    outline:none !important;
    box-shadow:none !important;
    }
    .nav-control-panel{
    display: flex;
    justify-content: space-between;
    height: 45px;
    margin-top: 25px;
    margin-bottom: 20px;
    }
    .nav-btn{
    display: flex;
    align-items: baseline;
    padding: 0px 16px;
    }
    .centered{
    margin: auto;
    float: none;
    text-align: center;
    }
    .row-vcentered{
    display: flex;
    align-items: center;
    }
    .row-hcentered{
    display: flex;
    justify-content: center;
    }
    .center-block{
    float:none;
    text-align: center;
    } 
    .logo{
    width: 50px;
    }
    .logo-link{
    text-decoration: none;
    color: black;
    height: 50px;
    min-width: 52px;
    }

    .logo-link:focus{
    text-decoration: none;
    color: black;
    }
    .logo-text{
    display: inline;
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
    vertical-align: middle;
    margin: 16px 0px 0px -3px;
    }
    .crumbs{
    text-align: center;
    }
    .footer{
        position: relative;
        bottom: 0;
        width: 100%;
        line-height: 40px;
    }
    .pull-right{
        text-align: right;
    }
    #loading {
    display:none;
    position:fixed;
    left:0;
    top:0;
    z-index:1000;
    width:100%;
    height:100%;
    min-height:100%;
    background:rgba(103, 103, 103, 0.51);
    opacity:0.7;
}

#loading_anim {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 160px;
    height: 160px;
    animation: .8s cubic-bezier(0.57, 0.23, 0.39, 0.82) infinite spin;
    position:fixed;
    left:46.5%;
    top:40%;
    z-index:1010;
}
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}