table {
    font-family: 'Century Gothic';
    width: 100%;
    border-collapse: collapse;
}

td {
    text-align: left;
    padding: 1px;
    width: 0px;
}

.table-hover > tbody > tr:hover{
    background-color: #e2fdff;
}

.table-hover > tbody >tr:nth-child(even):hover{
    background-color: #c0d9db;
}

.story-header{
    background:#5cd2db;
    font-weight:700;
    padding-top: 7px;
    padding-bottom:7px;
}

.story-header:hover{
    background:#5cd2db;
}

td:hover{
    background: transparent;
}

tr {
    width:auto;
    background: transparent;
}

label{
    font-weight:100;
}

tr:nth-child(even) {
    background-color: #c0d9db;
}

tr:nth-child(even) td input {
    background-color: #fff;
}

input[type="checkbox"]{
    width:20px;
    height:20px;
}

input[type="submit"] {
    margin: 5px 4px;
}

input[type="button"]{
    margin: 5px 4px;
}

input[type="checkbox"]:hover{
    cursor:pointer;
}

input[type="submit"]:hover{
    cursor:pointer;
}

.storyPoint {
    border: black;
    border-radius:5px;
    width: 40px;
    font-size: 18px;
    font-weight: 700;
    background: #ffffff;
    height: 20px;
    text-align:center;
}

.storyPoint:focus{
    outline:none;
}

.stories-container{
    width: 1140px;
    max-height: 550px;
    margin: 0px auto;
    overflow: scroll;
    overflow-x: hidden;
    background:#e2fdff;
    border-color: #c0cfd1;  
    border-radius:10px;
}

.stories-container::-webkit-scrollbar
{
	width: 10px;
}

.stories-container::-webkit-scrollbar-thumb
{	
	-webkit-box-shadow: inset 0 0 3px #484949;
	background-color:#696d6d;
    border-radius:4px;
}

.buttons-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom:20px;
    flex-wrap:wrap;
}

.btn{
    animation: ease-out;
    transition:0.4s;
    margin:5px;
}

.btn:hover{
    background-color:#5cd2db;
    animation: ease-in;
    transition:0.4s;
}

h2.storypopup{
    font-size:17px;
    padding-bottom: 5px;
}

h3.nostories{
    text-align:center;

}

@media only screen and (max-width: 1319px) {

    .stories-container{
    width: 100%;
    }

}


@media only screen and (max-width: 1092px) {

    .stories-container{
    width: 100%;
    }
     .story-header{
        font-size:12px;
    }
    
    label{
        font-size:12px;
    }

    tr:nth-child(even) td input{
        font-size:12px;
    }

    .storyPoint{
        font-size:12px;
        width:30px;
       
    }
 
}

@media only screen and (max-width:600px){
       .modal{
        width:100%;
    }

      h2.storypopup{
    font-size:14px;
    
}
}
